body {
    margin:0 auto;
}
@font-face {
	font-family: ‘Myanmar3’;
	src: url('/fonts/mm3.ttf');
	font-weight: 400;
	font-style: normal;

}

b,h4,button  {font-family:'Myanmar3'!important;}
.card {
    margin: 0 auto;
}
header {
	height: 60px;
	/*background: red;*/
}
#submit {
	display: none;
}
#body {
	display: none;
}